<a href="https://colab.research.google.com/github/pondbaahh/data_viz_2022/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Final Project
ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง

###เตรียมข้อมูล

####Import data

In [2]:
import pandas as pd  # เรียกใช้คำว่า pd แทน pandas ได้
import os

In [3]:
from google.colab import drive  # pandas ใช้จัดการไฟล์ต่าง ๆ ที่เป็นตาราง เช่น excel .csv
drive.mount('/content/drive') # ถ้าไฟล์ใน gg drive ไม่หาย ก็จะยังสามารถรันข้อมูลได้
path = '/content/drive/My Drive/project_dataviz'

Mounted at /content/drive

In [7]:
data_covid1 = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_covid2 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-120864.csv'))
data_covid3 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-271064.csv'))
data_covid4 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-280265.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

###confirmed-cases 1
ข้อมูล confirmed-cases ตั้งแต่วันแรก - 11/08/2021

In [8]:
data_covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

###ตรวจสอบ Missing

In [9]:
data_covid1.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [10]:
data_covid1_updated = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid1_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

In [11]:
data_covid1_updated.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

###แทน age ด้วยค่า mean

In [12]:
data_covid_mean1 = data_covid1_updated.fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [13]:
data_covid_mean1.isnull().any()  #คอลัมน์ sex ไม่มี missing

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [32]:
data_covid_mean1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

###confirmed-cases 2
ตั้งแต่วันที่ 12/08/2021 - วันที่ 25/10/2021

In [14]:
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ตรวจสอบ Missing

In [15]:
data_covid2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [16]:
data_covid2_updated = data_covid2.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid2_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล

###แทน age ด้วยค่า mean

In [17]:
data_covid_mean2 = data_covid2_updated .fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [18]:
data_covid_mean2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [31]:
data_covid_mean2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

###confirmed-cases 3
ตั้งแต่วันที่ 26/10/2021 - วันที่ 27/02/2022

In [19]:
data_covid3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###ตรวจสอบ Missing

In [20]:
data_covid3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

จะเห็นได้ว่า ข้อมูล data_covid3 ยังมีค่า Missing อยู่

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [21]:
data_covid3_updated = data_covid3.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล','Unnamed: 11':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid3_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล

###แทน age ด้วยค่า mean

In [22]:
data_covid_mean3 = data_covid3_updated .fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [23]:
data_covid_mean3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11              False
dtype: bool

In [30]:
data_covid_mean3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010455,2869613,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010456,2869614,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010457,2869615,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010458,2869616,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล

###confirmed-cases 4
ตั้งแต่วันที่ 26/10/2021 - วันที่ 27/02/2022

In [24]:
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ตรวจสอบ Missing

In [25]:
data_covid4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จะเห็นได้ว่า ข้อมูล data_covid2 ยังมีค่า Missing อยู่

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [26]:
data_covid4_updated = data_covid4.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid4_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

###แทน age ด้วยค่า mean

In [27]:
data_covid_mean4 = data_covid4_updated .fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [28]:
data_covid_mean4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

ข้อมูล data_covid3 ไม่มีค่า missing แล้ว

In [29]:
data_covid_mean4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.00000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.00000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.00000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.00000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.00000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433549,3303166,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433550,3303167,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433551,3303168,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433552,3303169,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

###รวมตาราง

###รวมตาราง data_covid1 และ data_covid2

In [38]:
covid = pd.concat([data_covid_mean1 ,data_covid_mean2])  #รวมตาราง
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

###รวมตาราง data_covid3 และ data_covid4

In [39]:
covid1 = pd.concat([data_covid_mean3 ,data_covid_mean4])  #รวมตาราง
covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

###รวมตาราง covid และ covid1

In [40]:
confirm = pd.concat([covid ,covid1])  #รวมตาราง
confirm

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

###ข้อมูลภูมิภาค

In [41]:
data_province = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']}

In [42]:
data6 = pd.DataFrame.from_dict(data_province)
data6

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

###รวมตารางของภูมิภาคกับโควิด

In [43]:
case_pro=  confirm.merge(data6,how='right',left_on='province_of_onset',right_on = 'จังหวัด')
case_pro

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,973,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899468,3271105,17/3/2022,16/3/2022,หญิง,5.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,ย่านตาขาว,NaN,ตรัง,ใต้
2899469,3272635,17/3/2022,16/3/2022,ไม่มีข้อมูล,37.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,ย่านตาขาว,NaN,ตรัง,ใต้
2899470,3293983,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,ไม่มีข้อมูล,NaN,ตรัง,ใต้
2899471,3297287,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,สิเกา,NaN,ตรัง,ใต้
2899472,3300240,18/3/2022,17/3/2022,ไม่มีข้อมูล,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,กันตัง,NaN,ตรัง,ใต้

###ข้อมูลการตาย

In [48]:
covid_death = pd.read_csv(os.path.join(path, 'covid_death.csv'))

In [49]:
covid_death

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths
0,Asia,Thailand,12/1/2020,NaN,NaN,NaN,NaN
1,Asia,Thailand,13/1/2020,NaN,NaN,NaN,NaN
2,Asia,Thailand,14/1/2020,NaN,NaN,NaN,NaN
3,Asia,Thailand,15/1/2020,NaN,NaN,NaN,NaN
4,Asia,Thailand,16/1/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
792,Asia,Thailand,14/3/2022,3226697.0,19742.0,23848.0,70.0
793,Asia,Thailand,15/3/2022,3250642.0,23945.0,23918.0,70.0
794,Asia,Thailand,16/3/2022,3276098.0,25456.0,23995.0,77.0
795,Asia,Thailand,17/3/2022,3303169.0,27071.0,24075.0,80.0
796,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [51]:
covid_death2 = covid_death.fillna(value={'total_cases':'0','new_cases':'0','total_deaths':'0','new_deaths':'0'})  
covid_death2

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths
0,Asia,Thailand,12/1/2020,0,0,0,0
1,Asia,Thailand,13/1/2020,0,0,0,0
2,Asia,Thailand,14/1/2020,0,0,0,0
3,Asia,Thailand,15/1/2020,0,0,0,0
4,Asia,Thailand,16/1/2020,0,0,0,0
...,...,...,...,...,...,...,...
792,Asia,Thailand,14/3/2022,3226697.0,19742.0,23848.0,70.0
793,Asia,Thailand,15/3/2022,3250642.0,23945.0,23918.0,70.0
794,Asia,Thailand,16/3/2022,3276098.0,25456.0,23995.0,77.0
795,Asia,Thailand,17/3/2022,3303169.0,27071.0,24075.0,80.0
796,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0

###รวมตาราง

In [52]:
case_pro1 =  case_pro.merge(covid_death2,how='right',left_on='announce_date',right_on = 'date')
case_pro1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,Unnamed: 11,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),continent,location,date,total_cases,new_cases,total_deaths,new_deaths
0,1.0,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,NaN,กรุงเทพมหานคร,กลาง,Asia,Thailand,12/1/2020,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Asia,Thailand,13/1/2020,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Asia,Thailand,14/1/2020,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Asia,Thailand,15/1/2020,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Asia,Thailand,16/1/2020,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899526,3299120.0,18/3/2022,17/3/2022,หญิง,28.0,ปี,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,...,NaN,สตูล,ใต้,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0
2899527,3299121.0,18/3/2022,17/3/2022,หญิง,49.0,ปี,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,...,NaN,สตูล,ใต้,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0
2899528,3293983.0,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,...,NaN,ตรัง,ใต้,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0
2899529,3297287.0,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,...,NaN,ตรัง,ใต้,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0
2899530,3300240.0,18/3/2022,17/3/2022,ไม่มีข้อมูล,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,...,NaN,ตรัง,ใต้,Asia,Thailand,18/3/2022,3328973.0,25804.0,24162.0,87.0